<div class="grid fadeIn" style="width: 100%;">
    <div style="width:60%; display: inline-block;" class="col">
        <img style="width:20rem; aspect-ratio: auto; margin: auto;
        margin-left: 20%; margin-top:10% " [src]="productData.thumbnail" [alt]="productData.title" />
    </div>
    <div style="width:40%; margin-right: 0; vertical-align: top; display: inline-block;" class="col">
        <p-card
            [style]="{'width':'85%','margin':'auto', 'margin-top':'1rem', 'padding-left':'2rem', 'padding-right':'2rem'}">
            <div class="flex flex-column ">
                <div class="flex align-items-center justify-content-center ">
                    <span>{{productData.condition}}</span> | <span>{{productData.sold_quantity}}</span>
                </div>
                <div class="flex align-items-center justify-content-center ">
                    <span>
                        <h3 style="font-size: 1.4rem; letter-spacing:8px; font-weight: 600;">
                            {{productData.title}}
                        </h3>
                    </span>
                </div>
                <div class="flex align-items-center justify-content-center " style="margin-bottom: 1rem; ">
                    <span style="font-size:2.5rem; font-weight: 300;">

                        {{productData.price | currency : 'ARS' : 'symbol' : '0.2-2': 'es-AR' }}

                    </span>
                </div>
                <div class="flex align-items-center justify-content-center ">
                    <button style="width: 12rem;" id="buyButton" pTooltip="Comprar Producto" tooltipPosition="bottom"
                        pButton pRipple label="Comprar" icon=""></button>
                </div>

            </div>
        </p-card>

    </div>

</div>
