.container{
    min-height: 100vh;
    display: flex;
    justify-items: center;
    align-items: center;
}

.card{
    padding: 20px;
    width: 100%;
}

.btn-sig{
    background-color: #F04F44;
    border-color: #F04F44;
    margin-bottom: 20px;
    margin-top: 20px;
}

.list-group-item{
    cursor: pointer;
}