<div class="text-center" style="margin-top: 10px;">
    <app-loading *ngIf="loading"></app-loading>
</div>

<table style="width: 95%; margin:auto;" class="table sm table-over" *ngIf="listRespuestaCuestionarios.length>0 && loading == false">
    <thead>
        <th>Participante</th>
        <th>Fecha</th>
        <th>Hora</th>
        <th></th>
    </thead>
    <tbody>
        <tr *ngFor="let cuestionarioRespuesta of listRespuestaCuestionarios">
            <td>{{cuestionarioRespuesta.nombreParticipante | uppercase}}</td>
            <td>{{cuestionarioRespuesta.fecha | date: 'dd/MM/yyyy' }}</td>
            <td>{{cuestionarioRespuesta.fecha | date: 'HH:mm'}}</td>
            <td>
                <div class="float-right">
                    <span class="material-icons search-icon" routerLink="/dashboard/detalle-respuesta/{{cuestionarioRespuesta.id}}" >
                        search
                    </span>
                    <span class="material-icons delete-icon" (click)="eliminarRespuestaCuestionario(cuestionarioRespuesta.id)">
                        delete
                    </span>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<h3 *ngIf="listRespuestaCuestionarios.length==0 && loading == false">No hay respuestas para el cuestionario.</h3>