<div class="text-center" style="margin-top: 10px;">
    <app-loading *ngIf="loading"></app-loading>
</div>

<div class="text-center" *ngIf="!loading">
    <h4 class="card-title">
        {{cuestionario.nombre | uppercase}}
    </h4>
    <p class="card-text">
        {{cuestionario.descripcion | uppercase}}
    </p>
    <hr>
    <div  style="width: 75%; margin:auto;" *ngFor="let pregunta of cuestionario.listPreguntas">
        <div class="card-header">
            <b>{{pregunta.descripcion}}</b>
        </div>
        <ul class="list-group" *ngFor="let respuesta of pregunta.listRespuesta">
            <li class="list-group-item" [ngClass]="{'list-group-item-success':respuesta.esCorrecta}">
                {{respuesta.descripcion}}
                <span class="material-icons" *ngIf="respuesta.esCorrecta"> check_circle</span>
            </li>
        </ul>
        <br>
    </div>
    <div class="row">
        <div class="col-lg-4 offset-lg-4">
            <button routerLink="/dashboard" 
            class="btn btn-info btn-lg btn-block">Volver</button>
        </div>
    </div>
    <!-- <button class="btn btn-success radius" routerLink="/dashboard/ver-cuestionario/{{cuestionario.id}}">VER</button>
    <button class="btn btn-danger radius" (click)="deleteCuestionario(cuestionario.id)">ELIMINAR</button> -->
</div>

