<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <h3 class="text-center">
            Cambiar Contraseña
        </h3>
        <app-loading style="display: flex; justify-content: center;" *ngIf="loading"></app-loading>
        <form [formGroup]="formGroup" (ngSubmit)="guardarPassword()">
            <div class="form-group" style="text-align: start;">
                <input #passAnteriorInput id="passAnteriorInput" type="password" class="form-control" formControlName="passAnterior" placeholder="Contraseña Anterior">
                <span *ngIf="formGroup.get('passAnterior').touched && formGroup.get('passAnterior').invalid" class="text-danger ml-2">
                    La contraseña anterior es <strong> requerida </strong>
                </span>
            </div>
            <div class="form-group" style="text-align: start;">
                <input type="password" class="form-control" formControlName="nuevoPass" placeholder="Contraseña Nueva">
                <span  *ngIf="formGroup.get('nuevoPass').touched && formGroup.get('nuevoPass').invalid" class="text-danger ml-2">
                    La contraseña es <strong> requerida </strong>
                </span>
            </div>
            <div class="form-group" style="text-align: start;">
                <input type="password" class="form-control" formControlName="confirmPass" placeholder="Repetir Contraseña">
                <span  *ngIf="formGroup.get('confirmPass').touched && formGroup.hasError('notSame')" class="text-danger ml-2">
                    Las contraseñas debe ser <strong> iguales </strong>
                </span>
            </div>
            <div class="form-group">
                <button  [disabled]="formGroup.invalid" type="submit" class="btn btn-primary mr-2 btn-acep">Aceptar</button>
                <button class="btn btn-secondary" routerLink="../">Volver</button>
            </div>
        </form>
    </div>
</div>
